@use '@/common/styles/mixins/function' as *;

.kv {
  width: 100%;
  height: 100vh;
  position: fixed;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      bottom: vw(320);
      left: calc(var(--inner-padding) * 4);
      width: calc(100% - var(--inner-padding) * 8);
      height: vw(3);
      background-color: var(--text-white);
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      var(--gradient-dark-start) 30%,
      var(--gradient-dark-end) 100%
    );
    z-index: 1; // Ensure overlay is above background image
  }
  .slider {
    width: 100%;
    height: 100%;

    .swiper-pagination-bullet {
      width: vw(10);
      height: vw(10);
      background-color: var(--text-white);
      opacity: 0.5;
      transition: opacity 0.3s ease;
      border-radius: 50%;

      &-active {
        opacity: 1;
      }
    }
    .buttonWrap {
      display: flex;
      gap: vw(8);
      position: absolute;
      bottom: vw(180);
      left: calc((var(--inner-padding) * 4) - vw(8));
      z-index: 10;
      width: auto;
    }
    .buttonPrev,
    .buttonNext {
      position: static;
      color: var(--text-white);
      cursor: pointer;

      i {
        --icon-size: 1.5;
        --icon-margin: 0;
        @include font-vw(36);
      }
    }
    .buttonNext {
      order: 2;
    }

    // Animation for active slide (moved inside .slider and using :global)
    [class*='swiper-slide-active'] {
      .content__title {
        opacity: 1;
        transform: translateY(0%);
        transition:
          opacity 1s ease-in-out,
          transform 1s ease-in-out;
        transition-delay: 1s;
      }

      .content__desc {
        opacity: 1;
        transform: translateY(0%);
        transition:
          opacity 1s ease-in-out,
          transform 1s ease-in-out;
        transition-delay: 1.5s;
      }
    }
  }
  .content {
    width: 100%;
    height: 100%;
    position: relative;
    &__text {
      position: absolute;
      bottom: vw(250);
      left: 0;
      z-index: 1;
      width: 100%;
      padding-inline: calc(var(--inner-padding) * 4);
      color: var(--text-white);
    }
    &__title {
      display: flex;
      align-items: center;
      @include font-vw(72, $weight: 700, $ls: -0.025);
      opacity: 0;
      transform: translateY(50%);
      transition:
        opacity 0.3s ease-out,
        transform 0.3s ease-out; // Add transition for gradual animation
      i {
        --icon-size: 1.5;
        --icon-margin: 0.1;
      }
    }
    &__desc {
      margin-block-start: vw(32);
      padding-block-start: vw(24);
      @include font-vw(24, $weight: 500);
      opacity: 0;
      transform: translateY(50%);
      transition:
        opacity 0.3s ease-out,
        transform 0.3s ease-out; // Add transition for gradual animation
    }
  }
  .news {
    display: flex;
    gap: vw(24);
    position: absolute;
    z-index: 1;
    bottom: vw(135);
    right: calc(var(--inner-padding) * 4);
    width: vw(300);
    height: vw(150);
    @include font-vw(18, $line: 28);
    color: var(--text-white);
    &__title {
      font-weight: 700;
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: vw(16);
      &Title {
        @include ellipsis(2);
      }
      &Date {
        margin-block-start: vw(4);
        @include font-vw(14);
      }
    }
    &__link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
