@use '@/common/styles/mixins/function' as *;

.footer {
  width: 100%;
  padding-block: vw(40);
  position: relative;
  z-index: 2;
  background-color: var(--bg-dark);
  color: var(--text-white);
  .top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: vw(16);
    > div {
      height: vw(300);
    }
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: vw(20);
    border-radius: vw(20);
    background-color: var(--footer-box-bg);
  }
  .title {
    @include font-vw(24, $weight: 400);
  }
  .group {
    display: flex;
    flex-direction: column;
    gap: vw(16);
    padding-inline-end: vw(40);
  }
  .sitemap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: vw(16);
    padding: vw(20) 0;
    border-top: vw(3) solid var(--footer-border-top);
    li {
      padding-inline-start: vw(20);
      @include font-vw(16);
    }
  }
  .sns {
    display: flex;
    gap: vw(16);
    height: 100%;
    li {
      flex: 1;
      background: var(--footer-sns-bg);
      border-radius: vw(20);
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: vw(20);
        border-radius: vw(20);
        overflow: hidden;
        @include font-vw(16, $color: var(--text-white));
      }
    }
    .naver {
      // --footer-sns-bg: #21c531;
      --footer-sns-bg: var(--footer-sns-bg-green);
    }
    .youtube {
      // --footer-sns-bg: #ff0033;
      --footer-sns-bg: var(--footer-sns-bg-red);
    }
    .instagram {
      // --footer-sns-bg: linear-gradient(135deg, #f9ce34 0%, #ee2a7b 40%, #6228d7 70%, #4f5bd5 100%);
      --footer-sns-bg: linear-gradient(
        135deg,
        var(--footer-sns-bg-instagram-start) 0%,
        var(--footer-sns-bg-instagram-mid1) 40%,
        var(--footer-sns-bg-instagram-mid2) 70%,
        var(--footer-sns-bg-instagram-end) 100%
      );
    }
    .icon {
      --icon-size: 1.25;
      --icon-margin: 0.2;
      top: -0.1em;
    }
  }
  .info {
    dt {
      margin-block: vw(12);
      @include font-vw(14, $color: var(--footer-text-muted));
    }
    dd {
      @include font-vw(20, 32);
    }
  }
  .contact {
    --footer-box-bg: var(--footer-box-bg-hover);
    p {
      @include font-vw(18, 30);
    }
    .link {
      display: flex;
      gap: vw(12);
      width: 100%;
    }
    a {
      flex: 1;
      display: block;
      margin-block: vw(10);
      padding-inline-end: vw(12);
      border-radius: vw(12);
      background-color: var(--background);
      @include font-vw(16, 56, $weight: 700, $color: var(--foreground));
      text-align: center;
    }
    .icon {
      --icon-size: 1.25;
      --icon-margin: 0.25;
      top: -0.03em;
      mix-blend-mode: difference;
    }
  }
  .copyright {
    padding-block: vw(20) vw(4);
    @include font-vw(14, $color: var(--footer-text-muted));
  }
  .text {
    font-size: 7cqw;
    font-weight: 700;
    letter-spacing: -0.025em;
    line-height: 1;
  }
}
