@use '@/common/styles/mixins/function' as *;

.footer {
  --footer-border-radius: 20;
  --footer-gap: 16;
  width: 100%;
  padding-block: vw(40);
  position: relative;
  z-index: 2;
  background-color: var(--bg-dark);
  color: var(--text-white);
  .top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: vw(--footer-gap);
    > div {
      height: vw(300);
    }
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: vw(20);
    border-radius: vw(--footer-border-radius);
    background-color: var(--footer-box-bg);
  }
  .title {
    @include font-vw(24, $weight: 400);
  }
  .group {
    display: flex;
    flex-direction: column;
    gap: vw(--footer-gap);
    padding-inline-end: vw(40);
  }
  .sitemap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: vw(--footer-gap);
    padding: vw(20) 0;
    border-top: vw(3) solid var(--footer-border-top);
    li {
      padding-inline-start: vw(20);
      @include font-vw(16);
    }
  }
  .sns {
    display: flex;
    gap: vw(--footer-gap);
    height: 100%;
    li {
      flex: 1;
      background: var(--footer-sns-bg);
      border-radius: vw(--footer-border-radius);
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: vw(20);
        border-radius: vw(--footer-border-radius);
        overflow: hidden;
        @include font-vw(16, $color: var(--text-white));
      }
    }
    .naver {
      // --footer-sns-bg: #21c531;
      --footer-sns-bg: var(--footer-sns-bg-green);
    }
    .youtube {
      // --footer-sns-bg: #ff0033;
      --footer-sns-bg: var(--footer-sns-bg-red);
    }
    .instagram {
      // --footer-sns-bg: linear-gradient(135deg, #f9ce34 0%, #ee2a7b 40%, #6228d7 70%, #4f5bd5 100%);
      --footer-sns-bg: linear-gradient(
        135deg,
        var(--footer-sns-bg-instagram-start) 0%,
        var(--footer-sns-bg-instagram-mid1) 40%,
        var(--footer-sns-bg-instagram-mid2) 70%,
        var(--footer-sns-bg-instagram-end) 100%
      );
    }
    .icon {
      --icon-size: 1.25;
      --icon-margin: 0.2;
      top: -0.1em;
    }
  }
  .info {
    dt {
      margin-block: vw(12);
      @include font-vw(14, $color: var(--footer-text-muted));
    }
    dd {
      @include font-vw(20, 32);
    }
  }
  .contact {
    --footer-box-bg: var(--footer-box-bg-hover);
    p {
      @include font-vw(18, 30);
    }
    .link {
      display: flex;
      gap: vw(12);
      width: 100%;
    }
    a {
      flex: 1;
      display: block;
      margin-block-start: vw(10);
      padding-inline-end: vw(12);
      border-radius: vw(12);
      background-color: var(--background);
      @include font-vw(16, 56, $weight: 700, $color: var(--foreground));
      text-align: center;
    }
    .icon {
      --icon-size: 1.25;
      --icon-margin: 0.25;
      top: -0.03em;
      mix-blend-mode: difference;
    }
  }
  .copyright {
    padding-block: vw(20) vw(4);
    @include font-vw(14, $color: var(--footer-text-muted));
  }
  .text {
    font-size: 7cqw;
    font-weight: 700;
    letter-spacing: -0.025em;
    line-height: 1;
  }

  @include mq(pc) {
    .top {
      grid-template-columns: repeat(2, 1fr);
      > div {
        height: vw(240);
      }
    }
    .box {
      padding: vw(16);
    }
    .title {
      @include font-vw(18);
    }
    .group {
      grid-column: span 2;
      padding-inline-end: 0;
    }
    .sitemap {
      padding: 0 0 vw(16);
      border-top: none;
      border-bottom: 1px solid var(--footer-border-top);
      li {
        padding-inline-start: vw(16);
      }
    }
    .sns {
      li {
        a {
          padding: vw(16);
        }
      }
    }
    .info {
      dt {
        margin-block: vw(4);
        @include font-vw(12);
      }
      dd {
        @include font-vw(16);
      }
    }
    .contact {
      p {
        @include font-vw(16);
      }
      .link {
        gap: vw(8);
      }
      a {
        margin-block-start: vw(8);
        @include font-vw(14);
      }
    }
    .copyright {
      padding-block: vw(16) vw(8);
    }
    .text {
      font-size: 6cqw;
    }
  }
  @include mq(mo) {
    --footer-border-radius: 10;
    --footer-gap: 12;
    padding-block-start: vw(30);
    .top {
      grid-template-columns: repeat(1, 1fr);
      > div {
        height: vw(200);
      }
    }
    .box {
      padding: vw(12);
    }
    .title {
      @include font-vw(16);
    }
    .group {
      display: none;
      grid-column: span 1;
      height: vw(100) !important;
    }
    .sitemap {
      display: none;
    }
    .sns {
      li {
        a {
          padding: vw(10) 0 vw(10) vw(10);
          @include font-vw(14);
        }
      }
    }
    .info {
      dt {
        @include font-vw(10);
      }
      dd {
        @include font-vw(14);
      }
    }
    .contact {
      p {
        @include font-vw(14);
      }
      a {
        margin-block-start: vw(8);
        @include font-vw(12);
      }
    }
    .copyright {
      padding-block: vw(8) vw(8);
      @include font-vw(10);
    }
  }
  @include mq(mo-sm) {
    .group {
      height: auto !important;
    }
    .sns {
      flex-direction: column;
    }
    .contact {
      .link {
        flex-direction: column;
      }
      a:nth-child(n + 2) {
        margin-block-start: 0;
      }
    }
  }
}
