@use '@/common/styles/mixins/function' as *;
.bulletin {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: calc(var(--inner-padding) * 1.5) calc(var(--inner-padding) * 1.5) 0 0;
  background-color: var(--bg-page);
  // 배경 이미지는 컴포넌트에서 inline style로 동적 처리
  background-repeat: no-repeat;
  background-position: center 5%;
  background-size: cover;
  letter-spacing: -0.05em;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 3%, rgba(255, 255, 255, 0) 40%);
    pointer-events: none;
  }
  .inner {
    padding: calc(var(--inner-padding) * 6) calc(var(--inner-padding) * 4)
      calc(var(--inner-padding) * 4);
    position: relative;
    background-color: rgba(255, 255, 255, 0.65);
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: cqi(100);
  }
  .text {
    flex: 1;
    margin-inline-start: cqi(160);
    padding-inline-start: calc(var(--inner-padding) * 1.5);
    padding-block-start: cqi(88);
    border-left: cqi(5) solid var(--bg-overlay);
  }
  .eyebrow {
    @include font-cqi(28, 44, $min: 16, $weight: 500);
    color: var(--accent-brand);
    &__icon {
      --icon-size: 1.25;
      --icon-margin: 0;
      top: -0.1em;
    }
  }
  .title {
    margin-block-start: cqi(56);
    @include font-cqi(64, 84, $min: 36, $weight: 700, $ls: -0.055);
  }
  .verse {
    margin-block-start: cqi(32);
    @include font-cqi(32, $min: 18, $weight: 500);
  }
  .desc {
    margin-block-start: cqi(48);
    padding-inline-start: cqi(64);
    @include font-cqi(24, 38, $min: 16, $weight: 500);
    color: var(--accent-brand);
  }
  .praise {
    font-weight: 600;
    color: #222;
  }
  .link {
    flex: 0 0 cqi(400);
    padding-block-start: cqi(96);
    &__list {
      display: flex;
      flex-direction: column;
      gap: cqi(16);
      @include font-cqi(28, $min: 16, $color: var(--accent-brand));
    }
    a {
      display: block;
      height: cqi(80);
      padding-inline: cqi(32);
      border-radius: cqi(20);
      border: cqi(3) solid var(--accent-tertiary);
      box-sizing: content-box;
      background-color: var(--accent-secondary);
      line-height: cqi(80);
      &.thisWeek {
        border-color: var(--accent-brand);
        background-color: var(--accent-brand);
        color: var(--text-inverse);
      }
    }
    &__text {
      width: 100%;
      height: 100%;
    }
    &__icon {
      --icon-size: 1.1;
      top: -0.08em;
    }
  }
  .pastor {
    flex: 0 0 cqi(240);
    &__name {
      margin-block-start: cqi(24);
      @include font-cqi(24, $min: 16, $weight: 500);
      &Desc {
        display: inline-block;
        padding-inline-end: cqi(12);
        @include font-cqi(16, $min: 12);
        color: var(--accent-brand);
        transform: translateY(-0.3em);
      }
    }
    img {
      width: 100%;
    }
  }
  .footnote {
    margin-block-start: cqi(40);
    @include font-cqi(18, 28, $min: 14, $weight: 500);
    color: var(--accent-brand);
    text-align: right;
    &__icon {
      --icon-size: 1.25;
      --icon-margin: 0.25;
      top: -0.02em;
    }
  }

  @include mq(fhd) {
    .content {
      gap: vw(100);
    }
    .text {
      margin-inline-start: vw(160);
      padding-block-start: vw(88);
      border-left-width: vw(5);
    }
    .eyebrow {
      @include font-vw(28);
    }
    .title {
      margin-block-start: vw(56);
      @include font-vw(64);
    }
    .verse {
      margin-block-start: vw(32);
      @include font-vw(32);
    }
    .desc {
      margin-block-start: vw(48);
      padding-inline-start: vw(64);
      @include font-vw(24);
    }
    .link {
      flex: 0 0 vw(400);
      padding-block-start: vw(96);
      &__list {
        gap: vw(16);
        @include font-vw(28);
      }
      a {
        height: vw(80);
        padding-inline: vw(32);
        border-radius: vw(20);
        border-width: vw(3);
        line-height: vw(80);
      }
    }
    .pastor {
      flex: 0 0 vw(240);
      &__name {
        margin-block-start: vw(24);
        @include font-vw(24);
        &Desc {
          padding-inline-end: vw(12);
          @include font-vw(16);
        }
      }
    }
    .footnote {
      margin-block-start: vw(40);
      @include font-vw(18);
    }
  }
  @include mq(pc) {
    border-radius: var(--inner-padding) var(--inner-padding) 0 0;
    .inner {
      padding-block-start: calc(var(--inner-padding) * 4);
      padding-inline-end: calc(var(--inner-padding) * 2);
    }
    .text {
      margin-inline-start: 0;
    }
  }
  @include mq(pc-sm) {
    // background-position: 80% top;
    // background-size: 200% auto;
    .inner {
      padding: calc(var(--inner-padding) * 4) var(--inner-padding) calc(var(--inner-padding) * 2)
        calc(var(--inner-padding) * 2);
    }
    .content {
      gap: vw(60);
    }
    .text {
      flex: 0 0 100%;
      padding-block: vw(36) vw(24);
      padding-inline-start: vw(50);
      border-left-width: vw(3);
    }
    .eyebrow {
      @include font-vw(18);
    }
    .title {
      margin-block-start: vw(48);
      @include font-vw(48);
    }
    .verse {
      margin-block-start: vw(24);
      @include font-vw(28);
    }
    .desc {
      margin-block-start: vw(32);
      padding-inline-start: vw(48);
      @include font-vw(18);
    }
    .link {
      flex: 1;
      padding-block-start: 0;
      &__list {
        gap: vw(12);
        @include font-vw(20);
      }
      a {
        height: vw(64);
        padding-inline: vw(32);
        border-radius: vw(12);
        border-width: vw(2);
        line-height: vw(64);
      }
    }
    .pastor {
      flex: 0 0 vw(180);
      &__name {
        margin-block-start: vw(20);
        @include font-vw(20);
        &Desc {
          padding-inline-end: vw(8);
          @include font-vw(14);
        }
      }
    }
    .footnote {
      // margin-block-start: 0;
      @include font-vw(14);
      text-align: left;
      &__icon {
        top: -0.1em;
      }
    }
  }
  @include mq(mo) {
    // background-size: auto 100%;
    // background-image: url('/main/bulltein3.jpg');
    &::before {
      background: linear-gradient(to top, rgba(255, 255, 255, 1) 3%, rgba(255, 255, 255, 0) 20%);
    }
    .inner {
      padding: calc(var(--inner-padding) * 4) var(--inner-padding) calc(var(--inner-padding) * 2);
    }
    .content {
      gap: vw(32) vw(20);
    }
    .text {
      padding-block: 0 vw(12);
      padding-inline-start: var(--inner-padding);
      border-left-width: vw(3);
    }
    .eyebrow {
      @include font-vw(14);
    }
    .title {
      margin-block-start: vw(32);
      @include font-vw(32);
    }
    .verse {
      margin-block-start: vw(16);
      @include font-vw(20);
    }
    .desc {
      margin-block-start: vw(18);
      padding-inline-start: 0;
      @include font-vw(14);
    }
    .link {
      &__list {
        gap: vw(8);
        @include font-vw(16);
      }
      a {
        height: vw(48);
        padding-inline: vw(24);
        border-radius: vw(10);
        line-height: vw(48);
      }
      &__icon {
        --icon-margin: 0.2;
      }
    }
    .pastor {
      flex: 0 0 vw(140);
      &__name {
        margin-block-start: vw(12);
        @include font-vw(16);
        &Desc {
          padding-inline-end: vw(6);
          @include font-vw(12);
          transform: translateY(-0.2em);
        }
      }
    }
    .footnote {
      margin-block-start: vw(20);
      @include font-vw(12);
    }
  }
  @include mq(mo-sm) {
    .content {
      gap: vw(40) vw(20);
    }
    .link {
      a {
        padding-inline-end: 0;
      }
    }
    .pastor {
      flex: 0 0 vw(100);
      &__name {
        &Desc {
          transform: translateY(-0.25em);
        }
      }
    }
    .footnote {
      // margin-block-start: vw(20);
    }
  }
  @include mq(mo-xs) {
    .link {
      a {
        padding-inline-start: vw(16);
      }
    }
  }
}
