@use '@/common/styles/mixins/function' as *;
.quickLink {
  padding-block: vw(100);
  background-color: var(--bg-light);
}
.content {
  display: flex;
  justify-content: space-between;
  gap: vw(60);
  padding-inline: calc(var(--inner-padding) * 4);
}
.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: vw(12);
  height: vw(500);
  &__row {
    flex: 1;
    display: flex;
    gap: vw(12);
    height: 100%;
    transition: flex 0.3s ease-in-out;
  }
  &__item {
    flex: 1;
    padding: vw(24) vw(32);
    border-radius: vw(20);
    background-color: var(--background);
    background-repeat: no-repeat;
    background-size: vw(80);
    background-position: right vw(-10) top vw(-20);
    transition:
      flex 0.3s ease-in-out,
      background-image 0.3s ease-in-out;
    filter: saturate(0);
    &Lg {
      flex: 0 0 65%;
    }
    a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      position: relative;
    }
    i {
      --icon-size: 2;
      --icon-margin: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      border-radius: vw(10);
      background-color: var(--primary);
      @include font-vw(16);
      transition: transform 0.3s ease-in-out;
    }
  }
  &__title {
    @include font-vw(32, $weight: 700);
  }
  &__desc {
    opacity: 0;
    padding-inline-end: vw(32);
    @include font-vw(18, $line: 1.5);
    color: var(--text-white);
    transform: translateY(100%);
    transition:
      transform 0.3s 0.1s ease-in-out,
      opacity 0.3s ease-in-out;
  }
  &__row:hover {
    flex-grow: 1.25;
  }
  &__item:hover {
    background-color: var(--bg-dark);
    background-image: url('/common/logo.svg');
    color: var(--text-white);
    i {
      mix-blend-mode: difference;
    }
    .list__desc {
      opacity: 1;
      color: var(--text-white);
      transform: translateY(0);
      transition:
        transform 0.3s ease-in-out,
        opacity 0.3s 0.1s ease-in-out;
    }
  }
  &__itemLg:hover {
    flex: 0 0 70%;
  }
}
.pic {
  flex: 0 0 vw(400);
  border-radius: vw(20);
  overflow: hidden;
  img {
    width: auto;
    height: vw(500);
    object-fit: cover;
  }
}
