@use '@/common/styles/mixins/function' as *;
.quickLink {
  padding-block: vw(200);
  background-color: var(--bg-light);
}
.content {
  display: flex;
  justify-content: space-between;
  gap: vw(60);
  padding-inline: calc(var(--inner-padding) * 4);
}
.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: vw(12);
  height: vw(500);
  &__row {
    flex: 1;
    display: flex;
    gap: vw(12);
    height: 100%;
    transition: flex 0.3s ease-in-out;
  }
  &__item {
    flex: 1;
    padding: vw(28) vw(32);
    border-radius: vw(20);
    background-color: var(--background);
    transition: flex 0.3s ease-in-out;
    &Lg {
      flex: 0 0 65%;
    }
    a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      position: relative;
    }
    i {
      --icon-size: 2;
      --icon-margin: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      border-radius: vw(10);
      background-color: var(--primary);
      @include font-vw(16, $min: 14);
      transition: transform 0.3s ease-in-out;
    }
  }
  &__title {
    @include font-vw(32, $weight: 700, $min: 24);
  }
  &__desc {
    opacity: 0;
    padding-inline-end: vw(40);
    @include font-vw(18, 24, $min: 16);
    color: var(--text-white);
    transform: translateY(100%);
    transition:
      transform 0.3s 0.1s ease-in-out,
      opacity 0.3s ease-in-out;
  }
  &__row:hover {
    flex-grow: 1.25;
  }
  &__item:hover {
    background-color: var(--bg-dark);
    color: var(--text-white);
    i {
      mix-blend-mode: difference;
    }
    .list__desc {
      opacity: 1;
      color: var(--text-white);
      transform: translateY(0);
      transition:
        transform 0.3s ease-in-out,
        opacity 0.3s 0.1s ease-in-out;
    }
  }
  &__itemLg:hover {
    flex: 0 0 70%;
  }
}
.pic {
  flex: 0 0 vw(400);
  border-radius: vw(20);
  overflow: hidden;
  img {
    width: auto;
    height: vw(500);
    object-fit: cover;
  }
}

@include mq(pc) {
  .content {
    padding-inline: var(--inner-padding);
  }
}

@include mq(pc-sm) {
  .quickLink {
    padding-block: vw(100);
  }
  .content {
    gap: vw(24);
    padding-inline: 0;
  }
  .list {
    gap: vw(12);
    &__row {
      flex-direction: column;
      &:hover {
        flex-grow: 1;
      }
    }
    &__item {
      padding: vw(24);
      border-radius: vw(12);
      &Lg,
      &Lg:hover {
        flex: 1;
      }
    }
    &__title {
      @include font-vw(24);
    }
    &__desc {
      padding-inline-end: vw(20);
      @include font-vw(14);
    }
  }
  .pic {
    flex: 0 0 40%;
    border-radius: vw(12);
  }
}

@include mq(mo) {
  .quickLink {
    padding-block: vw(60);
  }
  .content {
    flex-direction: column;
  }
  .list {
    display: block;
    &__row {
      flex-direction: row;
    }
    &__item {
      padding: vw(20) vw(20) vw(16);
      margin-block-end: vw(12);
      border-radius: vw(10);
      i {
        border-radius: vw(4);
      }
    }
    &__title {
      @include font-vw(18);
    }
    &__desc {
      opacity: 0.75;
      margin-block-start: vw(24);
      padding-inline-end: vw(60);
      @include font-vw(13);
      color: var(--text-black);
      transform: translateY(0);
      transition: none;
    }
    &__item:hover {
      .list__desc {
        transition: none;
      }
    }
  }
  .pic {
    flex: 1;
    border-radius: vw(10);
    img {
      width: 100%;
      height: auto;
    }
  }
}

@include mq(mo-sm) {
  .list {
    &__item {
      padding: vw(20);
      i {
        --icon-size: 1.2;
      }
    }
    &__title {
      @include font-vw(16);
    }
    &__desc {
      display: none;
    }
  }
}

@include mq(mo-xs) {
  .list {
    &__row {
      flex-direction: column;
      gap: 0;
    }
  }
}
