@use 'sass:math';
@use 'sass:meta'; // sass:meta 모듈 추가

@function decimal-round($point) {
  @return math.div(math.round($point * 10000), 10000);
}

@function check-var($value) {
  @if (meta.type-of($value) == 'number') {
    // type-of를 meta.type-of로 변경
    @return $value;
  } @else {
    @return var($value);
  }
}

@mixin ellipsis($line: 1) {
  @if ($line==1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word; // 공백 없을때 글자 짤림 방지
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

@mixin tablet {
  @container wrapper (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @container wrapper (max-width: 768px) {
    @content;
  }
}
@mixin mobile-ex {
  @container wrapper (max-width: 480px) {
    @content;
  }
}

@function clamp-cqi($min, $max, $container-width) {
  @if $min < 0 {
    @return #{calc(check-var($max) / check-var($container-width) * 100cqi)};
  } @else {
    @return clamp(
      #{calc(check-var($min) * 1px)},
      #{calc(check-var($max) / check-var($container-width) * 100cqi)},
      #{calc(check-var($max) * 1px)}
    );
  }
}

@function cqi($value, $min: null) {
  @if ($min != null) {
    @return clamp-cqi($min, $value, --cont-w);
  } @else {
    @if (meta.type-of($value) == 'number') {
      // type-of를 meta.type-of로 변경
      @if ($value < 0) {
        @return clamp-cqi($value, $value, --cont-w);
      }
      @return clamp-cqi(1, $value, --cont-w);
    }
    @return clamp-cqi(1, $value, --cont-w);
  }
}

$font-weight: (
  'dl': 200,
  'l': 300,
  'r': 400,
  'm': 500,
  'sb': 600,
  'b': 700,
  'eb': 800,
  'black': 900,
);

@mixin font($font, $line: null, $ls: null, $min: null, $weight: null, $color: null) {
  @if ($min != null) {
    font-size: clamp-cqi($min, $font, --cont-w);
  } @else {
    font-size: clamp-cqi(11, $font, --cont-w);
  }

  @if ($weight != null) {
    @if (meta.type-of($weight) == 'number') {
      // type-of를 meta.type-of로 변경
      font-weight: $weight;
    } @else {
      @if (map-has-key($font-weight, $weight)) {
        font-weight: map-get($font-weight, $weight);
      }
    }
  }

  @if ($ls != null) {
    letter-spacing: calc($ls * 1em);
  }

  @if ($line != null) {
    line-height: calc(check-var($line) / check-var($font));
  }

  @if ($color != null) {
    color: $color;
  }
}
