@use '@/common/styles/mixins/function' as *;

.bandLinks {
  margin-block-start: vw(80);
  margin-block-end: vw(60);
  padding-block: vw(60);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: vw(36);
  padding: vw(72) vw(60) vw(60);
  border-radius: vw(20);
  background-color: rgba(33, 197, 49, 0.025); // 연한 연두색 배경
  border: 1px solid rgba(33, 197, 49, 0.15); // 배경보다 약간 더 진한 border
  box-shadow: 0 vw(2) vw(12) rgba(0, 0, 0, 0.02);
}

.description {
  @include font-vw(24, $color: var(--text-body));
  line-height: 1.6;
  text-wrap: balance;
}

.inquiry {
  margin-block-start: 0.75em;
  @include font-vw(18, $color: var(--text-placeholder));
  line-height: 1.6;
}

.bandLink {
  color: rgba(33, 197, 49, 1);
}

.buttonWrapper {
  display: flex;
  gap: vw(16);
  margin-block-start: vw(8);
  flex-wrap: wrap;
  justify-content: center;
}

.bandButton {
  gap: 0;
  // footer-button 스타일 참고
  padding: vw(27.5) vw(60);
  border-radius: vw(20);
  background-color: rgba(33, 197, 49, 0.7); // footer band 컬러
  @include font-vw(24, $weight: 700, $color: var(--text-main));

  // 버튼 내부 아이콘과 텍스트 정렬
  .button__text {
    display: inline-flex;
    align-items: center;
    gap: vw(12);
  }

  > i {
    position: relative;
    top: -0.05em;
  }
}

.bandIcon {
  --icon-size: 1.2;
  --icon-margin: 0.35;
  flex-shrink: 0;
  position: relative;
  top: -0.1em;
}

@include mq(pc-sm) {
  .bandLinks {
    margin-block-start: vw(60);
    margin-block-end: vw(40);
    padding-block: vw(40);
  }

  .content {
    gap: vw(32);
    padding: vw(40) vw(32) vw(32);
    border-radius: vw(16);
  }

  .description {
    @include font-vw(20);
  }

  .inquiry {
    @include font-vw(16);
  }

  .buttonWrapper {
    gap: vw(12);
    margin-block-start: vw(6);
  }

  .bandButton {
    padding: vw(18) vw(48);
    border-radius: vw(12);
    @include font-vw(16);
  }
}

@include mq(mo) {
  .bandLinks {
    margin-block-start: vw(40);
    margin-block-end: vw(30);
    padding-block: vw(30);
  }

  .content {
    gap: vw(24);
    padding: vw(32) vw(24) vw(24);
    border-radius: vw(12);
  }

  .description {
    @include font-vw(18);
  }

  .inquiry {
    @include font-vw(12);
  }

  .buttonWrapper {
    gap: vw(10);
    margin-block-start: vw(4);
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .bandButton {
    width: auto;
    padding: vw(14.25) vw(36);
    border-radius: vw(10);
    @include font-vw(14);
  }
}
