@use '@/common/styles/mixins/function' as *;

:root {
  --inner-padding: 40px;
}

.inner {
  width: 100%;
  margin: 0 auto;
  padding-inline: var(--inner-padding);
  position: relative;
}

body * {
  @include mq(fhd) {
    --inner-padding: 2.0833vw;
  }
  @include mq(mo) {
    --inner-padding: 20px;
  }
}

.only {
  @include mq(mo) {
    &-pc {
      display: none;
    }
  }
}
