@use '@/common/styles/mixins/function' as *;

:root {
  --inner-padding: 40px;
  --header-height: 74;
}

.inner {
  width: 100%;
  margin: 0 auto;
  padding-inline: var(--inner-padding);
  position: relative;
}

.detail-inner {
  max-width: vw(1440);
  margin: 0 auto;
  padding: 0 var(--inner-padding);
  position: relative;
}

body * {
  @include mq(fhd) {
    --inner-padding: 2.0833vw;
  }
  @include mq(mo) {
    --inner-padding: 20px;
  }
}

.only {
  &-pc {
    display: initial;
  }
  &-mo {
    display: none;
  }
  @include mq(mo) {
    &-pc {
      display: none;
    }
    &-mo {
      display: initial;
    }
  }
}
