@use '@/common/styles/mixins/function' as *;

.mdxContent {
  margin-block: vw(80);
  padding-block-end: vw(80);
  border-bottom: vw(1) solid var(--accent-border);
  @include font-vw(20);
  word-break: break-all;
  @include mq(pc-sm) {
    margin-block: vw(60);
    padding-block-end: vw(48);
  }
  @include mq(mo) {
    margin-block: vw(48);
    padding-block-end: vw(24);
    @include font-vw(15);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.2;
  }

  // h1 {
  //   font-size: 2.5em;
  // }

  // h2 {
  //   font-size: 2em;
  // }

  // h3 {
  //   font-size: 1.75em;
  // }

  // h4 {
  //   font-size: 1.5em;
  // }

  // h5 {
  //   font-size: 1.25em;
  // }

  // h6 {
  //   font-size: 1em;
  // }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.75em;
  }

  h5 {
    font-size: 1.5em;
  }

  h6 {
    font-size: 1.25em;
  }

  p {
    margin-bottom: 1em;
    line-height: 1.6;
  }

  a {
    color: #000;
    text-decoration: underline;

    &:hover {
      color: #000;
    }
  }

  ul,
  ol {
    margin-bottom: 1em;
    padding-left: 2em;

    li {
      margin-bottom: 0.5em;
      line-height: 1.6;

      ul {
        margin-top: 0.5em;
      }
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  strong:has(+ ul, + ol) {
    display: inline-block;
    margin-bottom: 0.5em;
  }

  blockquote {
    border-left: vw(4) solid #ccc;
    margin: 1.5em 0;
    padding: 0.5em 1.5em;
    color: #666;
    font-style: italic;
    p {
      margin-bottom: 0;
    }
  }

  pre {
    background-color: #f4f4f4 !important;
    border: 1px solid #ddd;
    border-radius: vw(4);
    padding: 1em;
    overflow-x: auto;
    margin-bottom: 1em;

    code {
      color: #333;
      font-family: 'Fira Code', 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
      font-size: 0.9em;
    }
  }

  code {
    background-color: #f4f4f4;
    padding: 0.2em 0.4em;
    border-radius: vw(3);
    font-family: 'Fira Code', 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.9em;
    line-height: 1.6;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    // margin-bottom: 1em;

    th,
    td {
      border: 1px solid #ddd;
      padding: 0.8em;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
    @include mq(mo) {
      width: 100%;
    }
  }
}
