@use '@/common/styles/mixins/function' as *;

.container {
  padding-block-start: vw(--header-height);
}

.header {
  display: flex;
  height: vw(450);
  padding-block: 0 vw(40);
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.content {
  flex: 1;
  margin-block-start: auto;
  position: relative;
  z-index: 2;
}
.category {
  margin-block-end: 1em;
  padding-inline-start: 0.5em;
  border-left: vw(4) solid var(--bg-page);
  @include font-vw(24, $weight: 700, $color: var(--bg-page));
}
.title {
  @include font-vw(56, $weight: 700, $color: var(--bg-page));
  line-height: 1.2;
  @include ellipsis(3);
}
.date {
  margin-block-start: 2.5em;
  @include font-vw(20, $color: var(--accent-border-subtle));
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* scale 애니메이션 시 범위 벗어남 방지 */
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@include mq(pc-sm) {
  .header {
    height: vw(400);
    padding-block: 0 vw(36);
  }
  .category {
    border-left-width: vw(2);
    @include font-vw(16);
  }
  .title {
    @include font-vw(40);
  }
  .date {
    @include font-vw(16);
  }
}

@include mq(mo) {
  .header {
    height: vw(360);
    padding-block: 0 vw(28);
  }
  .category {
    @include font-vw(14);
  }
  .title {
    @include font-vw(36);
  }
  .date {
    @include font-vw(14);
  }
}

.tag {
  &Container {
    display: flex;
    flex-wrap: wrap;
    gap: vw(10); /* 태그 사이 간격 */
    margin-block: vw(40); /* 태그 컨테이너 상단 여백 */
    position: relative;
    z-index: 2;
    background-color: var(--bg-page);
  }
  &Item {
    padding: vw(8) vw(16); /* 태그 패딩 */
    border-radius: vw(10); /* 태그 둥근 모서리 */
    background-color: var(--accent-secondary); /* 태그 배경색 */
    color: var(--accent-brand); /* 태그 텍스트 색상 */
    @include font-vw(20, $weight: 500);
    white-space: nowrap; /* 태그 내용 줄바꿈 방지 */
  }
  @include mq(pc-sm) {
    &Container {
      gap: vw(8);
      margin-block: vw(28);
    }
    &Item {
      padding: vw(6) vw(12);
      border-radius: vw(6);
      @include font-vw(16);
    }
  }
  @include mq(mo) {
    &Container {
      gap: vw(6);
      margin-block: vw(18);
    }
    &Item {
      padding: vw(4) vw(8);
      border-radius: vw(4);
      @include font-vw(14);
    }
  }
}

div:has(> .detailBreadcrumbs) {
  margin-block-start: -1px;
}
.detailBreadcrumbs {
  ol {
    &::before {
      background-color: var(--accent-border-subtle);
    }
  }
  li {
    &::after {
      background-color: var(--accent-border-subtle);
    }
  }
  a {
    color: var(--accent-border-subtle);
    &:hover {
      color: var(--bg-page);
    }
  }
}

.divider {
  border: none;
  border-top: 1px solid var(--accent-border-subtle);
  margin-top: vw(40);
  margin-bottom: vw(40);
  @include mq(pc-sm) {
    margin-top: vw(30);
    margin-bottom: vw(30);
  }
  @include mq(mo) {
    margin-top: vw(20);
    margin-bottom: vw(20);
  }
}

.footer {
  padding-block-start: vw(80);
  padding-block-end: vw(200);
  border-top: vw(1) solid var(--accent-border);
  @include mq(pc-sm) {
    padding-block-start: vw(48);
    padding-block-end: vw(160);
  }
  @include mq(mo) {
    padding-block-start: vw(24);
    padding-block-end: vw(80);
  }
}
