@use '@/common/styles/mixins/function' as *;
.sermon {
  width: 100%;
  border-radius: vw(60) vw(60) 0 0;
  background-color: var(--background);
  letter-spacing: -0.05em;
  .inner {
    padding: vw(240) calc(var(--inner-padding) * 4) vw(160);
  }
  .content {
    display: flex;
    gap: vw(100);
  }
  .text {
    flex: 1;
    margin-inline-start: vw(160);
    padding-inline-start: vw(60);
    padding-block-start: vw(120);
    border-left: vw(5) solid var(--primary);
  }
  .eyebrow {
    @include font-vw(28, $weight: 500);
    color: var(--text-muted);
    &__icon {
      --icon-size: 1.25;
      --icon-margin: 0.25;
      top: -0.1em;
      mix-blend-mode: difference;
      filter: brightness(0.7);
    }
  }
  .title {
    margin-block-start: vw(28);
    @include font-vw(64, 84, $weight: 700, $ls: -0.055);
  }
  .verse {
    margin-block-start: vw(32);
    @include font-vw(32, $weight: 500);
  }
  .desc {
    margin-block-start: vw(48);
    padding-inline-start: vw(64);
    @include font-vw(24, 38);
    color: var(--text-muted);
  }
  .link {
    flex: 0 0 vw(400);
    padding-block-start: vw(182);
    &__list {
      display: flex;
      flex-direction: column;
      gap: vw(16);
      @include font-vw(28);
    }
    a {
      display: block;
      height: vw(80);
      padding-inline: vw(32);
      border-radius: vw(20);
      background-color: var(--bg-hover);
      line-height: vw(80);
      &.thisWeek {
        background-color: var(--primary);
        color: var(--primary-foreground);
      }
    }
    &__text {
      width: 100%;
      height: 100%;
    }
    &__icon {
      --icon-size: 1.1;
      top: -0.08em;
      mix-blend-mode: difference;
    }
  }
  .pastor {
    flex: 0 0 vw(240);
    &__name {
      margin-block-start: vw(24);
      @include font-vw(24, $weight: 500);
      &Desc {
        padding-inline-end: vw(12);
        position: relative;
        top: 0.3em;
        @include font-vw(16);
        color: var(--text-light);
        vertical-align: top;
      }
    }
    img {
      width: 100%;
    }
  }
  .footnote {
    margin-block-start: vw(40);
    @include font-vw(18, $line: 1.6);
    color: var(--text-light);
    text-align: right;
    &__icon {
      --icon-size: 1.25;
      --icon-margin: 0.25;
      top: -0.02em;
      filter: brightness(0.7);
    }
  }
}
