@use '@/common/styles/mixins/function' as *;
.instagram {
  padding-block: vw(100);
  background-color: var(--background);
  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-hover);
    @include font-vw(24, $weight: 500);
    color: var(--foreground);
  }
}
