@use '@/common/styles/mixins/function' as *;
$main: '.main';

.main {
  min-height: 100vh;

  &__content {
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    pointer-events: none;
    * {
      pointer-events: auto;
    }
    &Empty {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background-color: var(--bg-interactive);
      @include font-vw(24, $weight: 500, $color: var(--text-main));
    }
  }
}
