@use '@/common/styles/mixins/function' as *;

.sectionLayout {
  .titleSection {
    // 배경 이미지는 CSS variable로 동적 처리
    background: var(--bg-image, var(--bg-page)) no-repeat center center / cover;
    position: relative;

    // Breadcrumbs 기본 스타일 (블랙 텍스트 섹션용: worship, info, location)
    [class*='breadcrumb'] {
      --color: var(--text-body);
      --active-color: var(--text-main);
      &[class*='detail'],
      &[class*='detail'] * {
        --color: rgba(255, 255, 255, 0.7);
      }
    }

    .inner {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
      position: relative;
      z-index: 1;
    }

    .title {
      padding-block: vw(160) vw(80);
      position: relative;

      // 하단 포인트 점
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 45%);
        width: vw(10);
        height: vw(10);
        border-radius: 50%;
        background-color: var(--accent-brand);
      }
    }

    .pageTitle {
      @include font-vw(64, $weight: 600);
      color: var(--text-main);
      text-align: center;
    }

    .pageDesc {
      margin-block-start: vw(36);
      @include font-vw(24);
      color: var(--text-main);
      text-align: center;
      opacity: 0.9;
    }
  }

  // about 섹션은 화이트 텍스트 사용
  &[data-light-text='true'] {
    .titleSection {
      // Breadcrumbs 화이트 텍스트 (about 전용)
      [class*='breadcrumb'] {
        --color: rgba(255, 255, 255, 0.5);
        --active-color: var(--text-inverse);
        --square-color: var(--text-inverse);
      }

      .pageTitle {
        color: var(--text-inverse);
      }

      .pageDesc {
        color: var(--text-inverse);
      }
    }
  }

  // PC Small 반응형
  @include mq(pc-sm) {
    .titleSection {
      background-color: #f9f9f9;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--accent-border-subtle);
      }

      .inner {
        justify-content: flex-start;
      }

      .title {
        padding-block: vw(150) vw(48);

        &::after {
          display: none;
        }
      }

      .pageTitle {
        @include font-vw(48);
        text-align: left;
      }

      .pageDesc {
        margin-block-start: vw(24);
        @include font-vw(20);
        text-align: left;
      }
    }
  }

  // Mobile 반응형
  @include mq(mo) {
    .titleSection {
      border-bottom: 0;
      background-size: 160% auto;
      background-position: right center;

      .title {
        padding-block: vw(136) vw(24);
      }

      .pageTitle {
        @include font-vw(36);
      }

      .pageDesc {
        margin-block-start: vw(18);
        @include font-vw(14);
      }
    }
  }
}
